@import "configuracion";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: $size;
  font-family: $fuente;
  //imagen del celular del lado derecho se corte, para no abarcar mas ancho
  overflow-x: hidden;
}
.main__header {
  background-color: $white;
  position: relative;

  z-index: 4;
}
//HEADER
.navbar {
  position: relative;
  @extend %margenes;
  padding: 20px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media screen and (max-width: 768px) {
    padding: 20px 10px 10px;
  }
}
.navbar__logo {
  height: 30px;
  align-self: flex-end;
  .nav__img {
    height: 20px;
  }
}
.navbar__menu {
  display: flex;
  gap: 40px;
  @media screen and (max-width: 768px) {
    margin: 40px auto 0;
    height: 28vh;
    width: 90%;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    position: absolute;
    z-index: 20;
    background-color: #fff;
    text-align: center;
    top: 80%;
    left: 0;
    right: 0;
    border-radius: 5px;
    display: none;
    &.active {
      display: flex;
    }
  }
  .navbar__list {
    list-style: none;
  }
  .navbar__link {
    text-decoration: none;
    color: $grayish-blue;
    font-size: 16px;
    @media screen and (max-width: 768px) {
      color: $dark-blue;
    }
    &:hover {
      border-bottom: 4px solid $lime-green-hover;
      padding-bottom: 23px;
      @media screen and (max-width: 768px) {
        padding-bottom: 3px;
      }
    }
  }
}
.navbar__button {
  .navbar__btn {
    @extend %botones;
    &:hover {
      @extend %botones--hover;
    }
  }
  @media screen and (max-width: 768px) {
    display: none;
  }
}

//navbar responsive
.menuToggle {
  display: none;
  @media screen and (max-width: 768px) {
    align-self: center;
    display: block;
    background-image: url(../img/icon-hamburger.svg);
    background-repeat: no-repeat;
    background-size: 25px;
    width: 25px;
    height: 25px;
    cursor: pointer;
    &.active {
      background-image: url(../img/icon-close.svg);
    }
  }
}
//MAIN HEADER
.main__banner {
  position: relative;
  .banner__phone {
    z-index: 2;
    top: -25%;
    right: -8%;
    left: 0;
    position: absolute;
    margin: 0 0 0 auto;
    @media screen and (max-width: 1060px) {
      top: -22%;
      right: 0;
      margin: auto;
      width: 50%;
    }
       @media screen and (max-width: 840px) {
      top: -22%;
      right: 0;
      margin: auto;
      width: 60%;
    }
    @media screen and (max-width: 768px) {
      top: -9%;
      width: 55%;
    }
    @media screen and (max-width: 600px) {
      top: -17%;
      width: 65%;
    }
    @media screen and (max-width: 400px) {
       top: -14%;
       width: 90%;
    }
    @media screen and (max-width: 300px) {
      top: 0;
    }
  }
}
.submain__banner {
  background-color: $very-light-gray;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  height: 80vh;

  @media screen and (max-width: 1060px) {
    flex-direction: column-reverse;
    height: 80vh;
    padding-bottom: 20px;
  }
}
.banner__article {
  margin: 0 20px 0 auto;
  padding: 0 8px;
  max-width: 450px;
  @media screen and (max-width: 1060px) {
    margin: 0 auto;
    max-width: 750px;
    text-align: center;
  }
  @media screen and (max-width: 600px) {
    max-width: 400px;
    padding: 9px 0;
  }
  @media screen and (max-width: 375px) {
    margin: 0 auto 40px;
    max-width: 350px;
  }
  .banner__heading {
    font-size: 43px;
    font-weight: 500;
    margin-bottom: 20px;
    @media screen and (max-width: 375px) {
      font-size: 32px;
    }
  }
  .banner__paragraph {
    font-size: 18px;
    margin-bottom: 20px;
    color: $grayish-blue;
    @media screen and (max-width: 375px) {
      font-size: 15px;
    }
  }
  .banner__btn {
    @extend %botones;
    &:hover {
      @extend %botones--hover;
    }
  }
}
.banner__picture {
  width: 60%;
  @media screen and (max-width: 768px) {
    width: 100%;
  }
  @media screen and (max-width: 600px) {
    background-image: url(../img/bg-intro-desktop.svg);
    background-repeat: no-repeat;
    background-position: center left;
    width: 100%;
    height: 50vh;
  }
  @media screen and (max-width: 425px) {
    margin-bottom: 40px;
  }
  @media screen and (max-width: 375px) {
    background-image: url(../img/bg-intro-mobile.svg);
    background-repeat: no-repeat;
    width: 100%;
    height: 50vh;
    margin-bottom: 10px;
  }
  .banner__img {
    object-fit: cover;
    object-position: center;
    @media screen and (max-width: 600px) {
      display: none;
    }
  }
}

// MAIN ITEMS
.main__items {
  background-color: $light-grayish-blue;
  padding: 0 8px;
  padding-top: 60px;
  @media screen and (max-width: 375px) {
    padding-top: 10px;
  }
}
.submain__items {
  @extend %margenes;
  padding: 150px 0 100px;
  @media screen and (max-width: 1000px) {
    text-align: center;
  }
  @media screen and (max-width: 768px) {
    padding: 30px 19px 30px;
  }
  .items__heading {
    font-weight: 300;
    @media screen and (max-width: 375px) {
      padding: 0 19px;
    }
  }
  .items__paragraph {
    margin: 30px 0;
    font-size: 16px;
    color: $grayish-blue;
  }
}
.items__card {
  margin-top: 90px;
  display: flex;
  justify-content: space-between;
  gap: 4px;
  @media screen and (max-width: 1000px) {
    text-align: center;
    gap: 50px;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .item__card {
    flex-basis: 260px;
  }
}
.item__description {
  .description__heading {
    padding: 20px 0;
    font-weight: 300;
  }
  .description__paragraph {
    font-size: 15px;
    color: $grayish-blue;
  }
}
//MAIN ARTICLE
.main__article {
  background-color: $very-light-gray;
  padding: 80px 8px 40px;
  @media screen and (max-width: 1000px) {
    text-align: center;
  }
  .article__heading {
    @extend %margenes;
    font-weight: 500;
  }
}
.submain__article {
  @extend %margenes;
  padding: 60px 0;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  @media screen and (max-width: 1280px) {
    gap:40px;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
.box__article {
  flex-basis: 300px;
  background-color: $white;
  border-radius: 10px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.295);
}
.box__img {
  width: 100%;
  height: 200px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.box__description {
  padding: 20px;
  .box__written {
    font-size: 12px;
    font-weight: 500;
    color: $grayish-blue;
    margin-bottom: 10px;
  }
  .box__heading {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 13px;
  }
  .box__paragraph {
    font-size: 14px;
    color: $grayish-blue;
  }
}
//MAIN FOOTER
.main__footer {
  background-color: $dark-blue;
  padding: 0 8px;
  .submain__footer {
    @extend %margenes;
    padding: 50px 0;
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 1000px) {
      flex-wrap: wrap;
      justify-content: space-evenly;
      gap: 50px;
      text-align: center;
    }
  }
}
.footer__box:nth-of-type(1) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 200px;
  @media screen and (max-width: 565px) {
    gap: 40px;
  }
  .footer__picture {
    text-align: center;
  }
  .footer__socialnetwork {
    display: flex;
    justify-content: space-evenly;
  }
  .footer__ico {
    transition: 640ms;
    fill: $white;
    &:hover {
      fill: $lime-green;
    }
  }
}
.footer__box:nth-of-type(2) {
  display: flex;
  justify-content: space-between;
  flex-basis: 300px;
  @media screen and (max-width: 375px) {
    flex-direction: column;
  }
}
.footer__box:nth-of-type(3) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: 400px;
  .footer__credits {
    padding: 8px 0 0;
    @media screen and (max-width: 375px) {
      padding: 20px 0 0;
    }
  }
  .footer__paragraph {
    color: $white;
    font-size: 15px;
  }
  .frontend__link {
    text-decoration: none;
    color: $white;
    transition: 640ms;
    &:hover {
      color: $lime-green;
    }
  }
  .footer__btn {
    @extend %botones;
    margin-bottom: 10px;
    &:hover {
      @extend %botones--hover;
    }
  }
}
.footer__menu {
  .footer__list {
    list-style: none;
    padding: 8px 0;
  }
  .footer__cta {
    color: $white;
    text-decoration: none;
    transition: 640ms;
    &:hover {
      color: $lime-green;
    }
  }
}
