@import "configuracion";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: $size;
  font-family: $fuente;
  //imagen del celular del lado derecho se corte, para no abarcar mas ancho
  overflow-x: hidden;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  @extend %margenes;
  padding: 30px 8px;
  //Imagen de celulares este detras del header
  position: relative;
  z-index: 10;
}
.navbar__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  .navbar__list {
    list-style: none;
  }
  .navbar__link {
    text-decoration: none;
    color: $grayish-blue;
    font-family: $fuente;
    font-size: 15px;
    padding: 40px 0;
    &:hover {
      cursor: pointer;
      border-bottom: 3px solid $lime-green;
    }
  }
}
.navbar__img {
  fill: #2d314d;
  transition: 640ms;
  &:hover {
    fill: $lime-green;
    cursor: pointer;
  }
}
.navbar__button {
  .navbar__btn {
    @extend %botones;
    &:hover {
      @extend %botones--hover;
    }
  }
}
//MAIN BANNER
.main__banner {
  position: relative;
  background-color: $very-light-gray;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 8px;
  @media screen and (max-width: 1000px) {
    flex-direction: column-reverse;
  }
  .banner__picture {
    background-image: url(../img/bg-intro-desktop.svg);
    background-repeat: no-repeat;
    background-position: center left;
    height: 80vh;
    background-size: 1290px;
    width: 57%;
    @media screen and (max-width: 1000px) {
      height: 90vh;
      background-position: bottom left;
      width: 100%;
    }
    @media screen and (max-width: 800px) {
      height: 70vh;
    }
    @media screen and (max-width: 700px) {
      height: 60vh;
    }
    @media screen and (max-width: 590px) {
      height: 46vh;
    }
    @media screen and (max-width: 468px) {
      height: 34vh;
    }
    @media screen and (max-width: 375px) {
      background-image: url(../img/bg-intro-mobile.svg);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center right;
      width: 100%;
      height: 40vh;
    }
  }
  .banner__img {
    position: absolute;
    right: -10%;
    top: -24%;
    @media screen and (max-width: 1000px) {
      top: -15%;
      right: 0;
      left: 0;
      margin: auto;
      width: 80%;
    }
    @media screen and (max-width: 375px) {
      top: -14%;
    }
  }
}
.submain__banner {
  margin: auto;
  align-self: center;
  width: 30%;
  @extend %margenes;
  @media screen and (max-width: 1000px) {
    width: 70%;
    padding: 50px 0;
    text-align: center;
  }
  @media screen and (max-width: 500px) {
    width: 90%;
  }
  @media screen and (max-width: 375px) {
    padding: 10px 0;
  }
  .banner__heading {
    font-size: 42px;
    padding-right: 20px;
    font-weight: 300;
    margin-bottom: 20px;
    @media screen and (max-width: 375px) {
      font-size: 32px;
    }
  }
  .banner__paragraph {
    font-size: 16px;
    margin-bottom: 30px;
    color: $grayish-blue;
    @media screen and (max-width: 375px) {
      font-size: 15px;
    }
  }
  .banner__btn {
    @extend %botones;
    &:hover {
      @extend %botones--hover;
    }
  }
}
// MAIN ITEMS
.main__items {
  background-color: $light-grayish-blue;
  padding: 0 8px;
  padding-top: 60px;
  @media screen and (max-width: 375px) {
    padding-top: 10px;
  }
}
.submain__items {
  @extend %margenes;
  padding: 150px 0 100px;
  @media screen and (max-width: 1000px) {
    text-align: center;
  }
  @media screen and (max-width: 375px) {
    padding: 50px 19px 10px;
  }
  .items__heading {
    font-weight: 300;
    @media screen and (max-width: 375px) {
      padding: 0 19px;
    }
  }
  .items__paragraph {
    margin: 30px 0;
    font-size: 16px;
    color: $grayish-blue;
  }
}
.items__card {
  margin-top: 90px;
  display: flex;
  justify-content: space-between;
  gap: 4px;
  @media screen and (max-width: 1000px) {
    text-align: center;
    gap: 50px;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .item__card {
    flex-basis: 260px;
  }
}
.item__description {
  .description__heading {
    padding: 20px 0;
    font-weight: 300;
  }
  .description__paragraph {
    font-size: 15px;
    color: $grayish-blue;
  }
}
//MAIN ARTICLE
.main__article {
  background-color: $very-light-gray;
  padding: 80px 8px 40px;
  @media screen and (max-width: 1000px) {
    text-align: center;
  }
  .article__heading {
    @extend %margenes;
    font-weight: 500;
  }
}
.submain__article {
  @extend %margenes;
  padding: 60px 0;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  @media screen and (max-width: 1000px) {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
.box__article {
  flex-basis: 300px;
  background-color: $white;
  border-radius: 10px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.295);
}
.box__img {
  width: 100%;
  height: 200px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.box__description {
  padding: 20px;
  .box__written {
    font-size: 12px;
    font-weight: 500;
    color: $grayish-blue;
    margin-bottom: 10px;
  }
  .box__heading {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 13px;
  }
  .box__paragraph {
    font-size: 14px;
    color: $grayish-blue;
  }
}
//MAIN FOOTER
.main__footer {
  background-color: $dark-blue;
  padding: 0 8px;
  .submain__footer {
    @extend %margenes;
    padding: 50px 0;
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 1000px) {
      flex-wrap: wrap;
      justify-content: space-evenly;
      gap: 50px;
      text-align: center;
    }
  }
}
.footer__box:nth-of-type(1) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 200px;
  @media screen and (max-width: 565px) {
    gap: 40px;
  }
  .footer__picture {
    text-align: center;
  }
  .footer__socialnetwork {
    display: flex;
    justify-content: space-evenly;
  }
  .footer__ico {
    transition: 640ms;
    fill: $white;
    &:hover {
      fill: $lime-green;
    }
  }
}
.footer__box:nth-of-type(2) {
  display: flex;
  justify-content: space-between;
  flex-basis: 300px;
  @media screen and (max-width: 375px) {
    flex-direction: column;
  }
}
.footer__box:nth-of-type(3) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: 400px;
  .footer__credits {
    padding: 8px 0 0;
    @media screen and (max-width: 375px) {
      padding: 20px 0 0;
    }
  }
  .footer__paragraph {
    color: $white;
    font-size: 15px;
  }
  .frontend__link {
    text-decoration: none;
    color: $white;
    transition: 640ms;
    &:hover {
      color: $lime-green;
    }
  }
  .footer__btn {
    @extend %botones;
    margin-bottom: 10px;
    &:hover {
      @extend %botones--hover;
    }
  }
}
.footer__menu {
  .footer__list {
    list-style: none;
    padding: 8px 0;
  }
  .footer__cta {
    color: $white;
    text-decoration: none;
    transition: 640ms;
    &:hover {
      color: $lime-green;
    }
  }
}
