@mixin content-width {
    max-width: 88%;
    width: 100%;
    margin: 0 auto;

    @media screen and (min-width:1200px){
        max-width: 1110px;
    }
}

@mixin btn {
    display: inline-block;
    width: 163px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    text-transform: capitalize;
    background: var(--gradiente);
    color: var(--white);
    font-weight: 600;
    border-radius: 22px;
    opacity: 1;
    transition: 0.6s;

    &:hover,
    &:focus {
        opacity: 0.4;
    }
}

@mixin item-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
        "itemOne"
        "itemTwo"
        "itemThree"
        "itemFour";
    gap: 32px;

    @media screen and (min-width:768px) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "itemOne itemTwo"
            "itemThree itemFour";
    }

    @media screen and (min-width:992px) {
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas:
            "itemOne itemTwo itemThree itemFour";
    }
}